#sideBorder {
    margin-top: 100px;
    border-right: 5px solid gray;
    border-radius: 3%;
}
#masodikOszlop {
    margin-top: 100px;
}
h4 {
    cursor: pointer;
}
#felhasznaloTorlesGomb,
#koktelTorlesGomb {
    margin-bottom: 50px;
    width: 200px;
    height: 70px;
}
#felhasznoKereses,
#koktelKereses {
    width: 500px;
}
#profilKep {
    background-color: aliceblue;
    margin-right: 15px;
    border-radius: 5pt;
    width: 50px;
    height: 50px;
}
#felhasznaloNev {
    color: aliceblue;
}
