body {
    background: rgb(255, 255, 255);
}

/*Főcím és Háttérkép*/
#cimdiv {
    padding: 60px;
    background-image: url(img/test2.jpg);
    background-size: cover;
    background-repeat: repeat-y;
    background-attachment: scroll; /*FIXED?*/
    background-position: center;
    position: -1px;
    height: 300px;
    width: 100%;
}

#bg {
    height: 60px;
    width: 100%;
    background-color: black;
    opacity: 60%;
}
#cimszoveg {
    text-align: center;
    color: rgb(255, 255, 255);
    position: relative;
    top: -53px;
}
/*input resz*/

#urlapcim {
    display: flex;
    width: 700px;
    background-color: rgb(179, 179, 179);
    margin-right: auto;
    margin-left: auto;
    height: 30px;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
    border-radius: 5px;
}

#koktelurlap {
    padding: 50px;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;

    background-color: #d1d1d1;
}
/* Kép input mező stilusolása*/
#drop-area {
    width: 280px;
    height: 280px;
    background-color: #919191;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#img-view {
    width: 100%;
    height: 100%;

    border: 3px dashed black;
    background: rgb(233, 233, 233);
    align-content: center;
    justify-items: center;
    background-position: center;
    background-size: cover;
    font-size: 20px;
}
.ujHatter {
    background: rgb(233, 233, 233);
    background-image: none;
}
#img-view p {
    font-size: 20px;
}
.icon {
    width: 120px;
    height: 120px;
}
#radiobtn {
    display: flex;
    justify-content: space-between;
}

#osszetevoDiv{
    display: flex;
    margin-left: 1px;
}

.Osszetevobtn {
    width: 3.5%;
    margin-left: 0cap;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    background: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;
    text-align: center;
    padding: 15px;
}
.Osszetevobtn:hover {
    background-color: #b4b4b4;
}
.OsszetevoBar {
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 60%;
    height: 100%;
    background: #f8f8f8;
}
.OsszetevoMennyiseg{
    width: 18%;
}
.MertekSelect{
    width: 12%;
}
@media only screen and (max-width: 768px) 
{
#osszetevoDiv{
    display: flex;
    margin-left: 1px;
}

.Osszetevobtn {
    width: 3.5%;
}
.Osszetevobtn:hover {
    background-color: #b4b4b4;
}
.OsszetevoBar {
    width: 45%;
}
.OsszetevoMennyiseg{
    width: 25%;
}
.MertekSelect{
    width: 15%;
}}
@media only screen and (max-width: 550px) 
{
#osszetevoDiv{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.row{
display: flex;
    flex-direction: column
}

.Osszetevobtn {
    width: 100%;
     height: 50px;
    }
.Osszetevobtn:hover {
    background-color: #b4b4b4;
}
.OsszetevoBar {
    
    width: 100%;
    height: 50px;;
}
.OsszetevoMennyiseg{
    width: 100%;
    height: 50px;
}
.MertekSelect{
    width: 100%;
    height: 50px;
}

}
/*
    jelvenyek
*/
#jelvenyek {
    display: flex;
    flex-direction: column;
}
#selectek {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media only screen and (max-width: 768px) {
    #selectek {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        .jelvenygomb {
        background-color: #f5f5f5;
        color: black;
        border: none;
        cursor: pointer;
        padding: 5px;
        width: 100%;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    #select1{
        width: 100%;
    }
    #select2{
        width: 100%;
    }
    #select3{
        width: 100%;
    }
    .collapse{
        margin-bottom: 10px;
    }
}
}
.jelvenygomb {
    background-color: #f5f5f5;
    color: black;
    border: none;
    cursor: pointer;
    padding: 5px;
    width: 200px;
    border-radius: 5px;
}
#erosseg {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    transition: max-height 0.2s ease-out;
}
.collapseButton:hover {
    padding: 8px;
}
.sajatBadge{
    font-size:medium;
    margin-bottom: 5px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #d1d1d1;
    background-color: aqua;
    
}

/*#leiras
{
    height: 100px;
@media only screen and (max-width: 600px) {
}
*/
