body{
    background: rgb(255, 255, 255);
}
/*Navbar és Footer*/
.jelenlegi{
    text-decoration: underline;
}
.hatter{
    background-color: #9acd32;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#alszoveg{
    font-size: x-small;
}
#marka{
    font-size: xx-large;
}
.profil{
    background-color: lightgray;
    border-radius: 100%;
    border: 0px solid black;
    padding: 20px;
}
.navbar-nav > li > .dropdown-menu { background-color: #9acd32; border-radius: 0px; }

div>li{
    border-left:1px solid gray ;
}
/*Főcím és Háttérkép*/
#cimdiv
{
    
    padding: 60px;
    background-image: url(NewCocktail_img/testkep.jfif);
  background-size: cover;
    background-repeat:repeat-x;
    background-attachment:scroll;/*FIXED?*/
    background-position: center;
    position: -1px;
    height:300px;
    width: 100%;
}

#bg{
    height: 60px;
    width: 100%;
    background-color: black;
    opacity: 60%;
}
#cimszoveg{
    text-align: center;
    color: rgb(255, 255, 255);
    position: relative;
    top: -53px;
}
/*input resz*/
#alkoholos
{
    margin-left: 285px;
}
#urlapcim
{
    display: flex;
    width: 700px;
    background-color: rgb(179, 179, 179) ;
    margin-right: auto;
    margin-left: auto;
    height: 30px;
    align-items: center;
    justify-content: center;
    padding-top: 3px ;
    border-radius: 5px ;
    
}


#koktelurlap
{
   
    padding:50px;
    margin: 5px;
    margin-left:auto ;
    margin-right: auto;
   
    background-color: #d1d1d1;
}
/* Kép input mező stilusolása*/
#drop-area
{
    width: 280px;
    height: 280px;
   background-color: #919191;
   padding: 10px;
    text-align: center;
    border-radius: 10px ;
    display: flex;
    justify-content   : center;
    flex-direction: column;
}
#img-view
{
    width: 100%;
    height: 100%;
    
    border: 3px dashed black;
    background: rgb(233, 233, 233);
      align-content: center;
    justify-items: center;
    background-position: center;
    background-size: cover;
}
#img-view p
{
    font-size: 20px;
  
}
#icon{
    width: 120px;
    height: 120px;
}
#radiobtn{
    display: flex;
    justify-content: space-between;
}

.Osszetevobtn
{
    width: 3.5%;
    margin-left: 0cap;
     border: 1px solid grey;
    border-left: none; 
  cursor: pointer;
 
  display: flex;
  align-items: center;
  justify-content: center; 
  height: 42px;
  text-align: center;
  padding:15px;
}
.osszetevobtnuj{
    margin-top: 10px;
}
.Osszetevobtn:hover
{
    background-color: #b4b4b4;
}
.OsszetevoBar
{
    padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  height: 100%;
  background: #f1f1f1;
  
     
}
/*#leiras
{
    height: 100px;
@media only screen and (max-width: 600px) {
}
*/