#Sidebar {
    font-family:
        'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #9acd32;
    align-items: center;
    /*Puszillak Stackoverflow*/
    position: sticky;
    top: 0;
}
.sideBarGomb:hover {
    cursor: pointer;
}
.helyesForm {
    border: #38ff53 2px solid;
}
.hibasForm {
    border: #ff3838 2px solid;
}
