.card {
    height: 500px;
}
.koktelCard {
    height: max-content;
}
.sotetites {
    background-color: rgb(40, 110, 68);
    color: white;
}
.sotetites:hover {
    background-color: rgb(43, 133, 84);
    color: white;
}
