.card {
    height: 550px;
}
.koktelCard {
    height: 1000px;
}
.kommentCard {
    height: 550px;
}
.sotetites {
    background-color: rgb(28, 78, 48);
    color: white;
}
.sotetites:hover {
    background-color: rgb(43, 133, 84);
    color: white;
}
