body {
    background-color: rgb(223, 223, 223);
    color: black;
}
#koktelurlap {
    background-color: rgb(223, 223, 223);
    color: black;
}
#osszetevoDiv {
    background-color: rgb(179, 179, 179);
    padding: 10px;
    border-radius: 5px;
}
.hatter {
    background-color: rgb(146, 197, 7);
}

#Sidebar {
    background-color: rgb(146, 197, 7);
    margin-top: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
