.jelenlegi {
    text-decoration: underline;
}
.hatter {
    background-color: rgb(146, 197, 7);
}
#alszoveg {
    font-size: x-small;
}
#marka {
    font-size: xx-large;
}
.profil {
    width: 90px;
    height: 90px;
    cursor: pointer;
    border-radius: 50%;
}

.navbar-nav > li > .dropdown-menu {
    background-color: rgb(146, 197, 7);
    border-radius: 0px;
}
.nav-link {
    margin-left: 5px;
}
#ThemeSwitcher {
    cursor: pointer;
    color: white;
    height: 50px;
    width: 50px;
}
.hatter {
    background-color: rgb(146, 197, 7);
    border-bottom-right-radius: 5px;
}
.navbar-nav > div > .dropdown-menu {
    background-color: rgb(146, 197, 7);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 0px;
    border-color: rgb(146, 197, 7);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    --bs-dropdown-link-hover-bg: #a7e727;
}
.dropdown-item > a {
    text-decoration: none;
    /*color: rgb(28, 180, 28);*/
    color: black;
}

#Sidebar {
    background-color: rgb(146, 197, 7);
    margin-top: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#leftSideNavBar {
    display: flex;
    align-items: center;
    margin-right: auto;
    flex-direction: row !important;
}

#leftSideNavBar > li {
    border-left: 1px solid grey;
}

#rightSideNavBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

#dropdownMenuMini {
    display: none;
}

@media only screen and (max-width: 991px) {
    #leftSideNavBar {
        flex-wrap: nowrap;
        align-items: start;
        flex-direction: column !important;
    }

    #leftSideNavBar > li {
        border-left: none !important;
    }

    #rightSideNavBar {
        flex-direction: column !important;
        align-items: start;
    }

    #dropdownMenuMini {
        display: inherit;
    }

    #dropdownMenuBig {
        display: none;
    }
}
