.jelenlegi {
    text-decoration: underline;
}
.hatter {
    background-color: rgb(146, 197, 7);
}
#alszoveg {
    font-size: x-small;
}
#marka {
    font-size: xx-large;
}
.profil {
    width: 90px;
    height: 90px;
    cursor: pointer;
    border-radius: 50%;
}

.navbar-nav > li > .dropdown-menu {
    background-color: rgb(146, 197, 7);
    border-radius: 0px;
}
.nav-link {
    margin-left: 5px;
}
#ThemeSwitcher {
    cursor: pointer;
    color: white;
    height: 50px;
    width: 50px;
}
.hatter {
    background-color: rgb(146, 197, 7);
    border-bottom-right-radius: 5px;
}
.navbar-nav > div > .dropdown-menu {
    background-color: rgb(146, 197, 7);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 0px;
    border-color: rgb(146, 197, 7);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    --bs-dropdown-link-hover-bg: #a7e727;
}
.hatter > li > a {
    text-decoration: none;
    /*color: rgb(28, 180, 28);*/
    color: black;
}

#Sidebar {
    background-color: rgb(146, 197, 7);
    margin-top: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
