@font-face {
    font-family: Roboto;
    src: url(Roboto-Medium.ttf);
}
* {
    font-family: Roboto;
}

.badge{
    font-weight: 500;
}

.img-fluid,.card-img-top{
    height: 400px;
}
#keresofelulet{
    margin-top: 20px;
}

#osszetevoDiv{
    padding: 10px;
    border-radius: 5px;
}

footer{
    margin-top: 100px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}