@font-face {
    font-family: Roboto;
    src: url(Roboto-Medium.ttf);
}
* {
    font-family: Roboto;
}

.badge{
    font-weight: 500;
}

.img-fluid,.card-img-top{
    height: 400px;
}
#keresofelulet{
    margin-top: 20px;
}

#osszetevoDiv{
    padding: 10px;
    border-radius: 5px;
}

footer{
    color: white;
    margin-top: 25%;
    margin-bottom: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgb(64, 76, 87);
}

body{
    min-height: 800px;
}