<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Pohárniy Alkhohol Mentes</title>
        <link rel="stylesheet" href="../bootstrap-5.2.3-dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="poharnyi_mentes.css" />
        <link rel="stylesheet" href="../Navbar/NavBar.css" />
        <link rel="stylesheet" href="../UnversalCSS/lightTheme.css" />
        <link rel="stylesheet" href="../UnversalCSS/universalCSS.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <!--utána kell nézni!!!-->
        <link rel="stylesheet" href="../UnversalCSS/universalCSS.css" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary hatter">
            <div class="container-fluid hatter">
                <div class="navbar-brand">
                    <a class="navbar-brand" id="marka" href="#">Pohárnyi</a>
                    <p id="alszoveg">Az online koktélbár</p>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsable">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse justify-content-between" id="collapsable">
                    <div class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active jelenlegi" href="#" aria-current="page">Főoldal</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                data-bs-toggle="dropdown"
                                href="#"
                                role="button"
                                aria-expanded="false"
                                >Poháryni koktélok</a
                            >
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Alkoholos Koktélok</a></li>
                                <li>
                                    <a class="dropdown-item" href="#">Nem-Alkoholos Koktélok</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                data-bs-toggle="dropdown"
                                href="#"
                                role="button"
                                aria-expanded="false"
                                >Ti koktéljaitok</a
                            >
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Alkoholos Koktélok</a></li>
                                <li>
                                    <a class="dropdown-item" href="#">Nem-Alkoholos Koktélok</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link">Mi van a polcon?</a>
                        </li>
                    </div>
                    <div>
                        <input type="button" value="" id="ThemeSwitcher" />
                        <input type="button" class="btn btn-secondary nav-item" value="Regisztárció" id="Register" />
                        <input type="button" class="btn btn-warning nav-item" value="Bejelentkezés" id="Login" />

                        <input
                            type="button"
                            class="nav-item btn btn-warning"
                            hidden
                            value="Saját koktél létrehozása"
                            id="Keszites"
                        />
                        <input type="button" class="nav-item profil" hidden value="     " id="Profile" />
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-12">
                    <div id="searchBarDiv">
                        <form class="searchbarForm">
                            <input id="searchBar" type="text" placeholder="keresés" name="search" />
                            <button id="Searchbtn" type="button"><i class="fa fa-search"></i></button
                            ><!--utána kell nézni!!!-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div id="szuresCol">
                        <p>
                            <button
                                class="btn btn-primary"
                                type="button"
                                data-bs-toggle="collapse"
                                data-bs-target="#collapseExample"
                                aria-expanded="false"
                                aria-controls="collapseExample"
                            >
                                Button with data-bs-target
                            </button>
                        </p>
                        <div class="collapse w-25" id="collapseExample">
                            <div class="card card-body">
                                Some placeholder content for the collapse component. This panel is hidden by default but
                                revealed when the user activates the relevant trigger.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="../bootstrap-5.2.3-dist/js/bootstrap.bundle.min.js"></script>
        <script src="poharnyi_mentes_main.js"></script>
        <script src="../Theme Switcher/themeSwitcher.js"></script>
    </body>
</html>
