<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="IDAD.css">
    <title>Document</title>
</head>
<body>
    <div class="main">  
        <label for="input-file" id="drop-area">

            <input type="file" accept="image/*" id="input-file" hidden>
            <div id="img-view">
                <img src="img/icon.png" alt="" id="icon">
               <p id="szoveg">Kattints ide, vagy húzd be a képet a feltöltéshez</p>
            </div>
        </label>

    </div>
    <script src="IDAD.js"></script>
</body>
</html>