#Sidebar{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px lightgray solid;
    border-radius: 1%;
    background-color: #9acd32;
    align-items: center;
}
a{
    text-decoration: none;
    text-align: left;
}





.jelenlegi{
    text-decoration: underline;
}
.hatter{
    background-color: #9acd32;
}
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#alszoveg{
    font-size: x-small;
}
#marka{
    font-size: xx-large;
}
.profil{
    background-color: lightgray;
    border-radius: 100%;
    border: 0px solid black;
    padding: 20px;
}
.navbar-nav > li > .dropdown-menu { background-color: #9acd32; border-radius: 0px; }

div>li{
    border-left:1px solid gray ;
}