<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../bootstrap-5.2.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="Adatlap.css">
    <link rel="stylesheet" href="../UniversalCSS/NavBar.css">
</head>
<body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary hatter">
        <div class="container-fluid hatter">
            <div class="navbar-brand">
                <a class="navbar-brand" id="marka" href="#">Pohárnyi</a> 
                <p id="alszoveg">Az online koktélbár</p>
            </div>            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsable">
                  <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse justify-content-between" id="collapsable">
                <div class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link active youareselected" href="#" aria-current="page">Főoldal</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Poháryni koktélok</a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Alkoholos Koktélok</a></li>
                          <li><a class="dropdown-item" href="#">Nem-Alkoholos Koktélok</a></li>
                        </ul>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Ti koktéljaitok</a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">Alkoholos Koktélok</a></li>
                          <li><a class="dropdown-item" href="#">Nem-Alkoholos Koktélok</a></li>
                        </ul>
                     </li>  
                     <li class="nav-item">
                        <a href="" class="nav-link">Mi van a polcon?</a>
                     </li>  
                </div>  
                <div>
                    <input type="button" class="nav-item btn btn-warning" value="Saját koktél létrehozása" id="Keszites">
                    <input type="button" class="nav-item profil" value="    " id="Profile">
                </div>
            </div>
        </div>
        </nav>
        <div class="container-fluid">
            <div class="row">

                <div class="d-flex flex-column col-md-1 col-sm-3 col-lg-1 col-3" id="Sidebar" style="height: 100vh;">
                    <div class="mb-auto mt-auto"><a class="link-dark jelenlegi" id="Adatlap">Adatlap</a></div>
                    <div class="mb-auto mt-auto"><a class="link-dark" id="Kedvencek">Kedvencek</a></div>
                    <div class="mb-auto mt-auto"><a class="link-dark" id="Koktélok">Saját Koktélok</a></div>
                    <div class="mb-auto mt-auto"><a class="link-dark" id="Jelentések">Jelentések</a></div>
                    <!--Does Nothing:-->
                    <div class="mb-auto mt-auto"><a class="link-danger" id="">Fiók Törlése</a></div>
                </div>
                <div id="adatoldal" class="col-md-11 col-sm-9 col-lg-11 col-9">
                    <div class="d-flex justify-content-center">
                        <p class="fs-1">Adatlap</p>
                    </div>
                    <div class="row justify-content-center">

                        <div class="col-md-2 col-sm-4">
                            <div class="flex-column align-items-center">
                                <p>Profilképed:</p>
                                <img src="" alt="" class="profil-display" id="profilkep">
                            </div>
                            <div class="flex-column d-flex">
                                <label for="Felhasználónév">Felhasználónév:</label>
                                <input type="text" disabled id="Felhasználónév">
                            </div>
                            <div class="flex-column d-flex">
                                <label for="Email-cím">Email-cím:</label>
                                <input type="email" disabled id="Email-cím">
                            </div>
                            <div class="flex-column d-flex">
                                <label for="Jelszó">Jelszó:</label>
                                <input type="password" disabled id="Jelszó">
                            </div>
                            <input type="submit" value="Mentés">
                            <input type="reset" value="Mégse">
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <p>Regisztárció dátuma:</p>
                            <p>Készített koktélok:</p>
                            <p>Kedvelt koktélok:</p>
                            <p>Kommentek száma:</p>
                            <p>Értékelések száma:</p>
                        </div>
                    </div>
                </div>
                <div hidden id="kedvencoldal" class="col-md-11 col-sm-9 col-lg-11 col-9">
                    <div class="d-flex justify-content-center">
                        <p class="fs-1">Kedvenc Koktélok</p>
                        
                    </div>
                    <div class="row justify-content-center">
                        <div class="card col-md-2">
                         <img src="SpicyMargaritas-9fcdbe2.webp" class="card-img-top img-fluid" alt="">
                         <div class="card-body">
                            <h4 class="card-title">Sidecar</h4>
                            <p class="card-text">
                                <span class="badge text-bg-info"> Whiskey</span>
                                <p>Összetevők:</p>
                                <p>Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla...</p>
                            </p>
                            <input type="button" value="Tovább a Receptre">
                         </div>       
                        </div>
                        <div class="card col-md-2">
                         <img src="SpicyMargaritas-9fcdbe2.webp" class="card-img-top img-fluid" alt="">
                         <div class="card-body">
                            <h4 class="card-title">Mojito</h4>
                            <p class="card-text">
                                <span class="badge text-bg-info"> Whiskey</span>
                                <p>Összetevők:</p>
                                <p>Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla...</p>
                            </p>
                            <input type="button" value="Tovább a Receptre">
                         </div>       
                        </div>
                        <div class="card col-md-2">
                         <img src="SpicyMargaritas-9fcdbe2.webp" class="card-img-top img-fluid" alt="">
                         <div class="card-body">
                            <h4 class="card-title">Hurricane</h4>
                            <p class="card-text">
                                <span class="badge text-bg-info"> Whiskey</span>
                                <p>Összetevők:</p>
                                <p>Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla...</p>
                            </p>
                            <input type="button" value="Tovább a Receptre">
                         </div>       
                        </div>
                        <div class="card col-md-2">
                         <img src="SpicyMargaritas-9fcdbe2.webp" class="card-img-top img-fluid" alt="">
                         <div class="card-body">
                            <h4 class="card-title">Manhattan</h4>
                            <p class="card-text">
                                <span class="badge text-bg-info"> Whiskey</span>
                                <p>Összetevők:</p>
                                <p>Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla...</p>
                            </p>
                            <input type="button" value="Tovább a Receptre">
                         </div>       
                        </div>
                        <div class="card col-md-2">
                         <img src="SpicyMargaritas-9fcdbe2.webp" class="card-img-top img-fluid" alt="">
                         <div class="card-body">
                            <h4 class="card-title">Martini</h4>
                            <p class="card-text">
                                <span class="badge text-bg-info"> Whiskey</span>
                                <p>Összetevők:</p>
                                <p>Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla Bla...</p>
                            </p>
                            <input type="button" value="Tovább a Receptre">
                         </div>       
                        </div>
                    </div>
                </div>
                <div hidden id="kokteloldal" class="col-md-11 col-sm-9 col-lg-11 col-9">
                    <div class="d-flex justify-content-center">
                        <p class="fs-1">Saját Koktélok</p>
                        
                    </div>
                    <div class="row justify-content-center">
                        <div class="card col-md-2">
                         <img src="SpicyMargaritas-9fcdbe2.webp" class="card-img-top img-fluid" alt="">
                         <div class="card-body">
                            <h4 class="card-title">Sidecar</h4>
                            <p class="card-text">
                                <p>
                                    Értékelés: Még nincs értékelés
                                </p>
                                <p>
                                    Kommentek száma: 0
                                </p>
                                <p>
                                    Állapot: Elfogadva
                                </p>
                            </p>
                            <input type="button" value="Tovább a Receptre">
                            <input type="button" value="Kezelés">
                         </div>       
                        </div>
                        <div class="card col-md-2">
                         <img src="SpicyMargaritas-9fcdbe2.webp" class="card-img-top img-fluid" alt="">
                         <div class="card-body">
                            <h4 class="card-title">Mojito</h4>
                            <p class="card-text">
                                <p>
                                    Értékelés: 4.9
                                </p>
                                <p>
                                    Kommentek száma: 12
                                </p>
                                <p>
                                    Állapot: Elfogadva
                                </p>
                            </p>
                            <input type="button" value="Tovább a Receptre">
                            <input type="button" value="Kezelés">
                         </div>       
                        </div>
                        <div class="card col-md-2">
                         <img src="SpicyMargaritas-9fcdbe2.webp" class="card-img-top img-fluid" alt="">
                         <div class="card-body">
                            <h4 class="card-title">Hurricane</h4>
                            <p class="card-text">
                                <p>
                                    Értékelés: 3.7
                                </p>
                                <p>
                                    Kommentek száma: 6
                                </p>
                                <p>
                                    Állapot: Elfogadva
                                </p>
                            </p>
                            <input type="button" value="Tovább a Receptre">
                            <input type="button" value="Kezelés">
                         </div>       
                        </div>
                        <div class="card col-md-2">
                         <img src="SpicyMargaritas-9fcdbe2.webp" class="card-img-top img-fluid" alt="">
                         <div class="card-body">
                            <h4 class="card-title">Manhattan</h4>
                            <p class="card-text">
                                <p>
                                    Értékelés: 4.2
                                </p>
                                <p>
                                    Kommentek száma: 8
                                </p>
                                <p>
                                    Állapot: Elfogadva
                                </p>
                            </p>
                            <input type="button" value="Tovább a Receptre">
                            <input type="button" value="Kezelés">
                         </div>       
                        </div>
                        <div class="card col-md-2">
                         <img src="SpicyMargaritas-9fcdbe2.webp" class="card-img-top img-fluid" alt="">
                         <div class="card-body">
                            <h4 class="card-title">Martini</h4>
                            <p class="card-text">
                                <p>
                                    Értékelés: 2.4
                                </p>
                                <p>
                                    Kommentek száma: 5
                                </p>
                                <p>
                                    Állapot: 1 jelentés!
                                </p>
                            </p>
                            <input type="button" value="Tovább a Receptre">
                            <input type="button" value="Kezelés">
                         </div>       
                        </div>
                    </div>
                </div>
                <div hidden id="reportoldal" class="col-md-11 col-sm-9 col-lg-11 col-9">
                    <div class="d-flex justify-content-center">
                        <p class="fs-1">Jelentések</p>
                    </div>
                    <p>Általad feltett Jelentések:</p>
                </div>
            </div>
        </div>
<script src="Adatlap.js"></script>
<script src="../bootstrap-5.2.3-dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>