#Sidebar{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px lightgray solid;
    border-radius: 1%;
    background-color: #9acd32;
    align-items: center;
}
a{
    text-decoration: none;
    text-align: left;
}
#profilkep{
    padding: 100px;
}


