.komment{
    border-radius: 5px;
    background-color: white;
    padding-left:8px ;
    
}



.asd{
    color: white;
    background-color: rgb(12, 64, 12);

    color: white;
    background-color: rgb(60, 55, 55);


    background-color: rgb(12, 64, 12);
    background-color: rgb(60, 55, 55);

}