.komment{
    border-radius: 5px;
    background-color: white;
    padding-left:8px ;
    
}

.kommentdiv{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid grey;
}

#Kommentek,#Velemeny{
    border-radius: 10px;
}

.profilkep{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 4px;
}

.asd{
    color: white;
    background-color: rgb(12, 64, 12);

    color: white;
    background-color: rgb(60, 55, 55);


    background-color: rgb(12, 64, 12);
    background-color: rgb(60, 55, 55);

}

.Onev,.Omer,.Oopc{
    border-color: black;
    border-width: 1px;
    height: 40px;
}
.Onev{
    border-right: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.Omer{
    border-right: 0px;
}

.Oopc{
    padding-bottom: 2px;
    padding: 0px !important; 
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}