.komment{
    border-radius: 5px;
    background-color: white;
    padding-left:8px ;
    
}

.kommentdiv{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: 1px solid grey;
}

#Kommentek,#Velemeny{
    border-radius: 10px;
}

#KoktélKép{
    width: 500px;
}

.profilkep{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin-right: 4px;
    cursor: pointer;
}
.profilkep-mid{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    margin-right: 4px;
}

.badge{
    cursor: pointer;
}

.mentes{
    background-color: rgb(6, 139, 201);
    color: white;
}

.Onev,.Omer,.Oopc{
    border-color: black;
    border-width: 1px;
    height: 40px;
}
.Onev{
    border-right: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.Omer{
    border-right: 0px;
}

.Oopc{
    padding-bottom: 2px;
    padding: 0px !important; 
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}