
#header{
    background-image: url("../LandingPage/img/koktel2.webp") !important ;
    background-position:center bottom;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:scroll;
    height:50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }
    #Focim{
        color: white;
    display: flex;
    align-items: center;
    justify-items: center;
    font-size: 100px;
    font-weight: bold;
    align-content: center;
}
@media only screen and (max-width: 425px) 
{
      #Focim{font-size: 60px;}
}
#alcim{
    display: flex;
    align-items: center;
    justify-items: center;
    font-weight: bold;
    align-content: center;
    font-size: large;
}
#Body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
#Bemutat{
    display: flex;
    margin-top: 10px;
}
#BodyCimDiv{
background-color: rgb(65, 65, 65);
    width: 100%;
    display: flex;
}
#BodyCim{
    display: flex;
    font-size: 4vw;
    align-items: center;
    font-weight: 800;
    margin: auto;
    color: rgb(201, 201, 201);
}
#BemutatBal{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}
#BemutatCim{
   margin-left: 10px;
}
.bemutatSzoveg{
    font-size: large;
    margin-left: 10px;
}
#BemutatSzoveg1{
    margin-top: 15px;
}
#PhTeam{
    color: rgb(172, 0, 0);
}
#phTradeMark{
    color: rgb(6, 85, 0);
}
#Szolgaltatasok{
    width: 100%;
}
#Koktelok{
    width: 100%;
}
#KoktelGomb{
   
}
.CollapseGomb{
    width: 100%;
    height: 100px;
    border: none;
    text-align: left;
    font-size: 2.5vw;
}
.CollapseGomb:hover{
    border: 2px black solid;
}
.collapseCont{
    height: 300px;
    background-color: rgb(70, 70, 70);
}
@media only screen and (max-width: 800px) 
{

        #Bemutat{
            flex-direction: column;
            margin: 0px;
        }
        #BemutatCim{
            margin-top: 25px;
        }
        #BemutatBal{
            display: flex;
            flex-direction: column;
            width: 100%
           
        }
        #BemutatKep{display: none;}
        .bemutatSzoveg{color: rgb(0, 0, 0);}
        #BodyCim{font-size: 7vw;}
}