/*Az oldal fő elrendezése flexbox segitsegevel*/
#main{
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    width: 70%;
    margin-top: 50px;
}
#TermekAdatok{
    display: flex;
    flex-direction: column;
   
    width: 70%;
    height: auto;
}
#MegrendelesDiv{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width: 30%;
    height: autos;
}
#TermekCimDiv{
     display: flex ;
    margin-left: 5px;
}
#TermekCim{
    font-weight:400;
   text-shadow: 5px;
}
#TermekAdatokMainContent{
    display: flex ;
    flex-direction: row;
    
    justify-content: space-around;
}
#TermekKep{
   width: 50%;
   height: auto;
   display: flex;
   justify-content: center;
}
#TermekImg{
    width:80%;

    height: auto;
}
#TermekLeiras{
    width: 50%;
     display: flex ;
     flex-direction: column;
    align-items: center;
}
#TermekSzovegDiv{
    display: flex ;
    justify-content: center;
}
@media only screen and (max-width: 768px){
    #main
    {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    }
    #TermekAdatok
    {
        width: 90%;
    }
    #MegrendelesDiv
    {
   
    width: 90%;
    height: auto;
    }

}