#main
{
    display: flex;
    flex-direction: row;
    align-self:center;
    justify-self: center;
    width: 70%;

}
@media only screen and (max-width: 768px) 
{
    #main{
        flex-direction: column;
    }
    #MegrendelesDiv{
        width: 100%;
        margin-top: 0px;
        background-color: antiquewhite;
    }

}
#TermekAdatok,#MegrendelesDiv
{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}
#TermekAdatok
{
    background-color: aqua;
    width:100%;
    height: 250px;

}
#MegrendelesDiv
{
    background-color: blueviolet;
     width:30%;
    height: 250px;
  
}