/*Az oldal fő elrendezése flexbox segitsegevel*/
#main{
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    width: 70%;
    margin-top: 50px;
}
#TermekAdatok{
    display: flex;
    flex-direction: column;
   
    width: 70%;
    height: auto;
}
#MegrendelesDiv{
    display: flex;
    flex-direction: column;
    background-color: aqua;
    width: 30%;
    height: auto;
}
#TermekCimDiv{
     display: flex ;
    margin-left: 5px;
}
#TermekCim{
    font-weight:400;
   text-shadow: 5px;
}
#TermekAdatokMainContent{
    display: flex ;
    flex-direction: row;
   
    justify-content: space-around;
}
#TermekKep{
   width: 50%;
   height: auto;
   display: flex;
   justify-content: center;
     padding-bottom:80%;
    
    overflow:hidden;
    position:relative;
}
#TermekImg{
    width:100%;

    height: auto;
}
#TermekLeiras{
    width: 50%;
     display: flex ;
     flex-direction: column;
    align-items: center;
    margin-left: 5px;
}
#TermekSzovegDiv{
    display: flex ;
    justify-content: center;
}
#Tulajdonsagok{
    width: 100%;
    border-top:solid rgb(207, 207, 198) 1px ;
}
#ReszletesAdatok{
    width: 100%;
    border-top:solid rgb(207, 207, 198) 1px ;
}
.content {
  padding: 0 18px;
  background-color: lightgoldenrodyellow;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out

}
.TovGomb{
    margin-top: 5px;
    width: 100px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    color: rgb(31, 31, 31);
    border: 1px gray solid;
    text-align: center;
    
}
.active, .TovGomb:hover{
    border: solid rgb(53, 53, 53) 1px;
    background-color: aliceblue;
}
table,.lol {
  border: 1px solid black;
}
.tablazat {
  border: 1px solid black;
}
#TulGomb{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#TulContent{
    margin-top: 15px;
    text-align: left;
    position: relative;
    right:18px;
    z-index: -1;
}
#BovitContent{
     margin-top: 15px;
    text-align: left;
    position: relative;
    right:18px;
    z-index: -1;
}
@media only screen and (max-width: 768px){
    #main
    {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    }
    #TermekAdatok
    {
        width: 90%;
    }
    #MegrendelesDiv
    {
   
    width: 90%;
    height: auto;
    }

}