/*Az oldal fő elrendezése flexbox segitsegevel*/
#main{
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
    align-content: center;
    justify-content: center;
    width: 70%;
    margin-top: 50px;
}
#TermekAdatok{
    display: flex;
    flex-direction: column;
   
    width: 70%;
    height: auto;
}
#MegrendelesDiv{
    display: flex;
    flex-direction: column;
    background-color:rgb(238, 238, 210);
    width: 30%;
    height: auto;
}
#TermekCimDiv{
     display: flex ;
    margin-left: 5px;
}
#TermekCim{
    font-weight:400;
   text-shadow: 5px;
}
#TermekAdatokMainContent{
    display: flex ;
    flex-direction: row;
   
    justify-content: space-around;
}
#TermekKep{
   width: 50%;
   height: auto;
   display: flex;
   justify-content: center;
     
    
    overflow:hidden;
    position:relative;
}
#TermekImg{
    width:100%;

    height: auto;
}
#TermekLeiras{
    width: 50%;
     display: flex ;
     flex-direction: column;
    align-items: center;
    margin-left: 5px;
}
#TermekSzovegDiv{
    display: flex ;
    justify-content: center;
}
#Tulajdonsagok{
    width: 100%;
    border-top:solid rgb(207, 207, 198) 1px ;
}
#ReszletesAdatok{
    width: 100%;
    border-top:solid rgb(207, 207, 198) 1px ;
}
.content {
  padding: 0 18px;
  background-color: lightgoldenrodyellow;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out

}
.TovGomb{
    margin-top: 5px;
    width: 100px;
    height: 25px;
    color: rgb(31, 31, 31);
    border: none;
    text-align: center;
     background-color: lightgoldenrodyellow
    
}
.active, .TovGomb:hover{
    
    background-color: rgb(254, 255, 195);
}
table,.lol {
  border: 1px solid rgb(180, 180, 180);
}
.tablazat {
  border: 1px solid rgb(165, 165, 165);
}
#TulGomb{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}
#TulContent{
    margin-top: 15px;
    text-align: left;
    position: relative;
    right:18px;
    z-index: -1;
}
#BovitContent{
     margin-top: 15px;
    text-align: left;
    position: relative;
    right:18px;
    z-index: -1;
}
#VanePolcon{
    height: 30px;
    width: 100px;
    background-color: rgb(5, 228, 5);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-items: flex-end;
    color: aliceblue;
    margin-top: 15px;
    padding: 3px;
}
#ar{
    margin-left: 25px;
    margin-top: 25px;
}
#LiterAr{
    margin-top: 0;
    font-size: x-small;
    position: relative;
    bottom: 10px;
    color: gray;

}
#KosarDiv{
    display: flex;
    flex-direction: row;

}
#mennyiseg{
    margin-left: 10px;
    width:20%;
}
#kosarba
{
    width: 70%;
    border: 1px  rgb(255, 186, 83) solid;
    background-color: rgb(255, 186, 83);
    border-radius: 3px;
    margin-left: 10px;
      margin-right: 10px;
    text-align: center;
}
#KosarbaSzoveg{
    margin-top: auto;
    margin-bottom: auto;
}
#kosarba:hover{
    background-color: rgb(250, 175, 62) ;
}
#Ertekeles{
    margin-left: 10px;
      margin-right: 10px;
}
@media only screen and (max-width: 768px){
    #main
    {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    }
    #TermekAdatok
    {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #MegrendelesDiv
    {
   
    width: 100%;
    height: auto;
    }
    #TermekAdatokMainContent{
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   #TermekKep{
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
   overflow:hidden;
   position:relative;
    }
    #TermekLeiras{
        width: 100%;
    }
  #Tulajdonsagok{
    margin-bottom: 15px;
  }

}