.jelenlegi {
    text-decoration: underline;
}
.hatter {
    background-color: #9acd32;
}
#alszoveg {
    font-size: x-small;
}
#marka {
    font-size: xx-large;
}
.profil {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.navbar-nav > li > .dropdown-menu {
    background-color: #9acd32;
    border-radius: 0px;
}

.navbar-nav > li > .dropdown-menu {
    background-color: #9acd32;
    border-radius: 0px;
}

div > li {
    border-left: 1px solid gray;
}
.nav-link {
    margin-left: 5px;
}
#ThemeSwitcher {
    width: 50px;
    height: 50px;
    background-color: white;
}
#Profile {
    cursor: pointer;
}
